/* Custom Styles */
.footer {
	text-align: center;
	font-size: 12px;
}

.first_row {
	margin-top: 20px;
}

.author_line {
	font-size: 11pt;
	color: #BBBBBB;
	margin-bottom: 10px;
	font-weight: normal;
}
